.container {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex: 6;
    margin-left: 1rem;
}

.nav {
    display: flex;
    justify-content: center;
    flex: 3;
}

.loginSignup {
    display: flex;
    flex: 1;
}

.nav li {
    list-style: none;
    padding: 0rem 1rem;
}
